body {
    background-image: url(../images/wormz.png);
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  header {
    border-bottom: solid 2px #cccccc;
    margin: auto;
    background-color: white;
  }

  h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #ffffff;  
    background: #4aaaa5;
    width: 324px;
    height: 50px;
    padding: 20px 0 0 0;
    text-align: center;
    position: absolute;
  }

  .vertical_line {
    border-right: solid 1px #666666;
    padding: 0px 15px 0px 0px;
  }

  .text {
    line-height: 2;
  }

  a {
      text-decoration: none;
      color: #4aaaa5;
  }

  main {
      padding: 10% 0 0 0;
  }

  footer {
      border-top: 8px solid #4aaaa5;
      height: 50px;
      width: 100%;
      background: #666666;
      text-align: center;
      color: #c6ccc6;
      font-size: 10px;
      position: relative;
  }

  .content {
      /*This is what makes my footer sticky*/
      min-height: calc(100vh - 70px);
      margin-bottom: 20px;
  }

  .headerCont {
      height: 70px;
      width: 960px;
      margin: 0 auto;
      text-align: center;

  }

  .nameTab {
      color: #ffffff;
      float: left;
      width: 25%;
      letter-spacing: 0.025em;
      height: 70px;
      text-align: center;
      background-color: #4aaaa5;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
  }

  div.h2 {
      padding-top: 18px;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
  }

  .links {
      float: right;
      width: 25%;
      height: 70px;
      display: flex;
      align-items: center;
  }
  .linkTab {
      width: 33.33%;
      text-align: right;
      /* justify-self: center;*/
  }

  .sideTab {
      border-right-color: solid 1px #666666;
  }

  .mainCont {
      width: 900px;
      padding: 10px 30px 40px 30px;
      /*text-align: center;*/
      background-color: white;
      border: #eee solid 1px;
      margin: 40px auto;
  }

  .float {
      float: left;
  }

  .cr {
      position: absolute;
      bottom: 5px;
      left: 48%;
  }

  #bioPic {
      float: left;
      width: 209px;
      height: 314px;
      margin-right: 25px;
  }

  .mainh2 {
      font-weight: bold;
      color: #4aaaa5;
      font-size: 30px;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
      text-align: left;
      display: block;
      padding-bottom: 30px;
      border-bottom: #dddddd solid 2px;
  }

  .clearfix:after {
      content: "";
      clear: both;
      display: table;
  }

  .button {
      background: #4aaaa5;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

  .portfolio_image1 {
      float: left;
      margin: 20px 20px 20px 5px;
  }

  .portfoliosection1 {
      margin: 0px 0px 100px 0;
  }

  .layer1:nth-child(even) {
      margin-right: 40px;
  }

  .container {
      position: relative;
      margin: 20px;
  }

  .banner {
      background: #4aaaa5;
      height: 50px;
      width: 324px;
      position: absolute;
      top: 40%;
  }
/*
  .layer1 {
      width: 200px;
      position: relative;
      top: 20px;
      left: 20px;
  }

  p span {
      background: #4aaaa5;
      color: #ffffff;
      font-size: 18px;
      text-align: center;
      bottom: 40;
      padding: 10px;
      left: 0;
      position: absolute;
  }*?
  /*
  .layer2 {
    width: 200px;
    position: relative;
    top: 20px;
    left: 20px;
    float: right; 
  }

  p span {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 180px;
    bottom: 20;
    padding: 10px;
    left: 0;
    float: right;
}*/
  